HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### Log ###
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/angularclient_bookadvisor/dist
/angularclient_bookadvisor/tmp
/angularclient_bookadvisor/out-tsc
# Only exists if Bazel was run
/angularclient_bookadvisor/bazel-out

# dependencies
/angularclient_bookadvisor/node_modules

# profiling files
/angularclient_bookadvisor/chrome-profiler-events*.json
/angularclient_bookadvisor/speed-measure-plugin*.json

# IDEs and editors
/.idea
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/angularclient_bookadvisor/.nyc_output
/angularclient_bookadvisor/.sass-cache
/angularclient_bookadvisor/connect.lock
/angularclient_bookadvisor/coverage
/angularclient_bookadvisor/libpeerconnection.log
/angularclient_bookadvisor/npm-debug.log
/angularclient_bookadvisor/yarn-error.log
/angularclient_bookadvisor/testem.log
/angularclient_bookadvisor/typings

# System Files
.DS_Store
Thumbs.db
logFile.log
