.container {
  background-color: rgba(255,255,255,0.85);
}
.card {
  background-color: rgba(255,255,255,0.6);
}

a.myTitle {
  color: #000000;
}

a.myTitle:hover {
  color: #888888;
}

.card-img-top {
  display: block;
  position:center;
  max-height: 180px;
  object-fit: cover;
}

.bookImage {
  display: block;
  position: center;
  max-height: 300px;
  object-fit: contain;
  margin-left:auto;
  margin-right: auto;
}

