
<div class="row">
  <div class="col-9">
    <h1 class="display-4 pt-3">Inserisci un libro in classifica</h1>
  </div>
  <div class="col-3">
    <button type="button" class="btn btn-info btn-block mt-3" (click)="goBack.emit()">Indietro</button>
  </div>
</div>
<hr>
<form [formGroup]="bookRankForm" (ngSubmit)="onSubmit()" data-cy="bookRankForm">
  <div class="form-row">
    <div class="form-group col-6 mb-3">
      <label for="rank">Posizione*:</label>
      <select id="rank" class="custom-select" [class.is-invalid]="isInvalidAndDirty('rank')" formControlName="rank" data-cy="rankSelect">
        <option disbled>Scegli una posizione</option>
        <option *ngFor="let r of ranks" [value]="r">
          {{r}}
        </option>
      </select>
      <div class="invalid-feedback" *ngIf="hasError('rank', 'required')">Seleziona una posizione!</div>
      <div class="invalid-feedback" *ngIf="hasError('rank', 'min')">La posizione minima è 1</div>
      <div class="invalid-feedback" *ngIf="hasError('rank', 'max')">La posizione massima è 10</div>
    </div>
    <div class="form-group col-6 mb-3">
      <label for="myBook">Libro*:</label>
      <select id="myBook" class="custom-select" [class.is-invalid]="isInvalidAndDirty('myBookID')" formControlName="myBookID" data-cy="bookSelect">
        <option [disabled]="true">Scegli un libro</option>
        <option *ngFor="let book of myBooksRead" [value]="book.myBooksID">
          {{book.title}}
        </option>
      </select>
      <div class="invalid-feedback" *ngIf="hasError('myBookID', 'required')">Seleziona un libro!</div>
    </div>
  </div>
  <button type="submit" class="btn btn-info mb-3" [disabled]="!bookRankForm.valid">Submit</button>
</form>

