.container {
  background-color: rgba(255,255,255,0.85);
}
.card {
  background-color: rgba(255,255,255,0.6);
}

a.myTitle {
  color: #000000;
}

a.myTitle:hover {
  color: #888888;
}

.rounded-circle.profilePhoto {
  width:230px;
  height:230px;
  object-fit: cover;
}
